.back_to_btn {
    background-color: #74c2c2;
    border-radius: 14px;
    &:hover {
        background-color: #105b63;
    }
    height: 35px;
    line-height: 35px;
    box-shadow: none;
    transition: none;
}

.back_to_btn_link {
    font-family: 'Bellota Text', cursive;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
