.background-container {
    width: calc(100vw - 17px);
    height: calc(100vh - 49px);
    background: url('/assets/main.jpg') center/cover no-repeat;
    background-color: #e4ddd6;
}

.logo_container {
    width: 200px;
    height: 200px;
    background: url('/assets/full_logo.png') center/cover no-repeat;
    margin-left: calc(100vw - 217px);
}

.arrow-down-1,
.arrow-down-2 {
    width: 49px;
    border: 3px solid #74c2c2;
    border-radius: 10px;
    animation: blink 1.4s infinite;
    box-shadow: 0px 0px 2px #99d2e0;
}

.arrow-down-1 {
    transform: rotate(30deg);
    position: absolute;
    left: 0;
}
.arrow-down-2 {
    transform: rotate(150deg);
    position: absolute;
    left: 40px;
}

.btn-down-arrow {
    margin: 0 auto;
    position: relative;
    position: absolute;
    left: calc(50vw - 17px);
    bottom: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 37px;
    border-radius: 21px;
    &:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes blink {
    50% {
      opacity: 0.4;
    }
  }

