.background-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100vw - 17px);
    height: calc(100vh - 49px);
    background: url('/assets/test.svg') center/cover no-repeat;
}

.arrow-down-1,
.arrow-down-2 {
    width: 49px;
    border: 3px solid rgba(9,98,121,0.76234243697479);
    border-radius: 10px;
    animation: blink 1.4s infinite;
    box-shadow: 0px 0px 2px #99d2e0;
}

.arrow-down-1 {
    transform: rotate(30deg);
    position: absolute;
    left: 0;
}
.arrow-down-2 {
    transform: rotate(150deg);
    position: absolute;
    left: 40px;
}

.btn-down-arrow {
    margin: 0 auto;
    position: relative;
    position: absolute;
    left: calc(50vw - 34px);
    bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 37px;
    border-radius: 21px;
    &:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes blink {
    50% {
      opacity: 0.4;
    }
}

.css-j7pyg7-MuiPaper-root-MuiAppBar-root {
    box-shadow: none;
}

@media (max-width: 53rem) {
    .btn-down-arrow {
        left: calc(50vw - 45px);
    }

    .background-container {
        width: calc(100vw - 38px);
        height: calc(100DVH - 30px);
    }
}