.background-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100vw - 17px);
    height: calc(100vh - 49px);
    background: url('/assets/full_logo.png') calc(100vw - 250px) 0 no-repeat, url('/assets/main.jpg') center/cover no-repeat;
    background-color: #e4ddd6;
}

.arrow-down-1,
.arrow-down-2 {
    width: 49px;
    border: 3px solid rgba(9,98,121,0.76234243697479);
    border-radius: 10px;
    animation: blink 1.4s infinite;
    box-shadow: 0px 0px 2px #99d2e0;
}

.arrow-down-1 {
    transform: rotate(30deg);
    position: absolute;
    left: 0;
}
.arrow-down-2 {
    transform: rotate(150deg);
    position: absolute;
    left: 40px;
}

.btn-down-arrow {
    margin: 0 auto;
    position: relative;
    position: absolute;
    left: calc(50vw - 17px);
    bottom: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 37px;
    border-radius: 21px;
    &:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes blink {
    50% {
      opacity: 0.4;
    }
}

.main_title-container {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-bottom: 77px;
    cursor: context-menu;
    & p {
        font-family: 'Exo 2', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    width: 100%;
    margin: 0;
    padding: 14px 0px 0px 154px;
    }
    & h1 {
        font-family: 'Exo 2', sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: white;
    margin: 0;
    padding: 0px 0px 0px 105px;
    text-transform: uppercase;
    }
}