.total_price_in_cart {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #105b63;
    margin-right: 14px;
}

@media (max-width: 53rem) {
    .total_price_in_cart {
        margin-right: 0;
        margin-bottom: 7px;
    }
}