@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600&display=swap');

.category_card_container {
    width: 264px;
    border-radius: 14px;
    padding-bottom: 0px;
}

.card_media {
    transition: all 0.4s ease-in-out;
    height: auto;
    aspect-ratio: 264/207;
}

.category_card_content {
    background-color: #105b63;
    & :last-child {
    padding: 7px 16px 14px 16px;
    }
}

.category {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:white;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}

.css-651hzl-MuiCardContent-root:last-child {
    padding-bottom: 7px;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root,
.css-1o971ee-MuiCardContent-root:last-child {
    padding: 0;
}

.category_btn:hover .card_media {
    filter: grayscale(0%) contrast(100%) brightness(110%);
}

.category_btn:hover .category {
    color: #74c2c2;
}

@media (max-width: 53rem) {
    .category_card_container {
        width: 100vw;
    }

    .card_media {
        height: auto;
        aspect-ratio: 127/100;
    }
}