@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600&display=swap');

.card_item_extended-Container {
    cursor: context-menu;
    padding: 21px 24px;
}

.card_item_extended-container {
    display: flex;
    justify-content: space-between;
    & img {
        width: 43vw;
    }
}

.card_item_extended-text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
}

.card_item_extended-text_container_margin {
    margin-left: 24px;
}

.card_item_extended_title-container {
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #74c2c2;
    & .type {
        font-weight: 500;
        // color: #74c2c2;
        margin: 0;
        margin-bottom: 4px;
        line-height: 28px;
    }
    & p {
        margin: 0px;
        line-height: 28px;
    }
}

.card_item_extended-description {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 17px;
    line-height: 19px;
    margin-top: 14px;
    max-width: 350px;
    color: #105b63;
}

.card_item_extended_before_a_colon {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #105b63;
    margin-right: 0px;
}

.card_item_extended_price {
    text-decoration: underline;
}

.card_item_extended_btn {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: 600;
    background-color: #74c2c2;
    border-radius: 10px;
    &:hover {
        background-color: #105b63;
    }
}

.blink {
    animation: blink 1.4s infinite;
}

.card_item_extended_product_color {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    margin-top: 9px;
    color: #105b63;
}

.card_item_extended_product_size {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    color: #105b63;
}

.card_item_extended_product_composition {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    color: #105b63;
}

.card_item_extended_product_term {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    color: #105b63;
}

.card_item_extended_product_price {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    margin-bottom: 28px;
    color: #105b63;
}

.card_item_extended_leave_review {
    text-decoration: none;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: 600;
    color: white;
}


@keyframes blink {
    50% {
      opacity: 0.4;
    }
}

.css-hz1bth-MuiDialog-container {
    height: 110%;
    align-items: start;
}

@media (max-width: 53rem) {
    .card_item_extended-Container {
        max-width: 100%;
        padding: 14px 7px;
    }

    .card_item_extended-container {
        flex-direction: column;
        & img {
            width: 100%;
        }
        & .card_item_extended-text_container {
            width: 100%;
        }
    }

    .card_item_extended-text_container_margin {
        margin-left: 0px;
        width: 100%;
    }

    .card_item_extended_title-container {
        & .type {
            margin-top: 4px;
        }
    }

    .card_item_extended-description {
        max-width: 100%;
    }

    .css-18i3v7t {
        margin: 7px;
    }
}