.card_item_extended_title-container {
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #74c2c2;
    & .type {
        font-weight: 500;
        // color: #74c2c2;
        margin: 0;
        margin-bottom: 4px;
        line-height: 28px;
    }
    & p {
        margin: 0px;
        line-height: 28px;
    }
}

.card_item_extended_before_a_colon {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #105b63;
    margin-right: 0px;
}

.card_item_extended_price {
    text-decoration: underline;
}

.card_item_extended_btn {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: 600;
    background-color: #74c2c2;
    border-radius: 10px;
    &:hover {
        background-color: #105b63;
    }
}

.blink {
    animation: blink 1.4s infinite;
}

@keyframes blink {
    50% {
      opacity: 0.4;
    }
}

.css-hz1bth-MuiDialog-container {
    height: 110%;
    align-items: start;
}