.card_title-container {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #74c2c2;
    & .type {
        font-weight: 500;
        margin: 0;
        line-height: 18px;
    }
    & p {
        margin: 0px 0px 3px 0px;
    }
}

.css-46bh2p-MuiCardContent-root {
    padding: 7px 14px 0px 14px;
}

.css-1fjc5kp-MuiCardActions-root {
    padding: 14px 14px 4px 14px;
}

.before_a_colon {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #105b63;
}

.price {
    text-decoration: underline;
}

.add_to_cart_btn {
    background-color: #74c2c2;
    border-radius: 10px;
    &:hover {
        background-color: #105b63;
    }
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    border: 1px solid #105b63;
}
