@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600&display=swap');

.card_item_card_media {
    height: 232px;
    width: 260px;
}

.card_title-container {
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #74c2c2;
    & .type {
        font-weight: 500;
        margin: 0;
        line-height: 18px;
    }
    & p {
        margin: 0px;
    }
}

.card_item_content {
    cursor: context-menu;
    padding: 7px 14px;
}

.css-46bh2p-MuiCardContent-root {
    padding: 7px 14px 0px 14px;
}

.css-1fjc5kp-MuiCardActions-root {
    padding: 14px 10px 10px 14px;
}

.before_a_colon {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #105b63;
}

.price {
    text-decoration: underline;
}

.add_to_cart_btn {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: 600;
    background-color: #74c2c2;
    border-radius: 10px;
    &:hover {
        background-color: #105b63;
    }
    & .span-mobile {
        display: none;
    }
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    border: 1px solid #105b63;
}

.css-1ujsas3 {
    padding: 0;
}

.css-1fu2e3p-MuiPaper-root-MuiDialog-paper {
    margin: 0;
}

.card_item_image_hover {
    transition: transform 0.3s ease;
    overflow: hidden;
    width: 100%;
}

.card_item_image_hover:hover {
    transform: scale(1.03);
    overflow: hidden;
}

.css-1qw96cp {
    padding: 0;
}

.card_item_price {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin-bottom: 4px;
}

.card_item-card_actions  {
    display: flex;
    justify-content: space-between;
    padding: 7px 14px 4px 14px;
}

.card_item_card {
    border: 1px solid #105b63;
    border-radius: 14px;
    max-width: 265px;
    box-shadow: none;
}

.css-34he1w-MuiRating-decimal,
.css-iljtu2-MuiRating-root,
.rating {
    height: 24px;
    min-height: 24px;
}

.review_btn {
    display: none;
}

.hide_color,
.hide_size,
.hide_composition,
.hide_term {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

@media (max-width: 53rem) {
    // .css-1ipqyij {
    //     width: 100%;
    //     justify-content: center;
    // }

    .css-34he1w-MuiRating-decimal,
    .css-iljtu2-MuiRating-root,
    .rating {
        height: 24px;
        min-height: 24px;
    }

    .card_item_card {
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),
        0px 1px 1px 0px rgba(0,0,0,0.14),
        0px 1px 3px 0px rgba(0,0,0,0.12);
    }

    .css-11qr2p8-MuiButtonBase-root-MuiButton-root {
        padding: 0;
        line-height: 21px;
    }

    .card_item_card_media {
        width: 100%;
        height: auto;
        aspect-ratio: 58/65;
    }

    .hide_color,
    .hide_size,
    .hide_composition,
    .hide_term {
        display: none;
    }

    .css-34he1w-MuiRating-decimal {
        width: 100%;
        max-height: 18px;
        aspect-ratio: 1/1;
    }

    .css-iljtu2-MuiRating-root {
        display: flex;
        justify-content: center;
        width: 120px;
        // margin: 0 auto;
    }

    .css-1txofw1-MuiCardContent-root {
        padding-left: 4px;
        padding-right: 4px;
    }

    .product-quantity input {
        width: 28px;
    }

    .card_item_price {
        text-align: center;
    }

    .card_item-card_actions  {
        display: flex;
        justify-content: space-between;
        padding: 4px;
    }

    .css-ou4017-MuiButtonBase-root-MuiButton-root {
        padding: 0;
        height: 28px;
    }

    .add_to_cart_btn {
        display: flex;
        align-items: center;
        min-width: 36px;
        height: 28px;
        border-radius: 14px;
        & .span-hide {
            display: none;
        }
        & .span-mobile {
            display: block;
        }

    }

    .card_title-container {
        font-size: 18px;
        & .type {
            font-size: 15px;
        }
        & p {
            margin: 0px;
        }
    }

    .css-1t6e9jv-MuiCardActions-root>:not(:first-of-type) {
        margin-left: 0;
    }

    .span-mobile {
        height: 21px;
        width: 21px;
        display: flex;
        align-items: center;
    }

    .shopping_cart_btn_mobole {
        font-size: 21px;
    }

    .card_item_content {
        padding: 7px 4px;
    }

    .css-34he1w-MuiRating-decimal,
    .css-7qmtgc-MuiRating-icon {
        display: flex;
        justify-content: center;
    }

    .css-34he1w-MuiRating-decimal {
        height: 24px;
    }

    .review_btn {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 36px;
        color: grey;
        height: 28px;
        width: 26px;
    }

    .card_item_rating {
        display: flex;
        justify-content: center;
    }
}