@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600&display=swap');

.buyer_last_name_input {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 18px;
    height: 42px;
    width: 100%;
    border: 1px solid #c1c1d4;
    border-radius: 8px;
    padding: 7px 7px 7px 21px;
    color: #105b63;
    &::placeholder {
        color: #00000066;
    }
    &:focus {
        border: 1px solid #105b63;
    }
}

.buyer_last_name_input_container {
    min-width: 238px;
    position: relative;
}

.buyer_last_name_input_container::after {
    content: '\2714';
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    color: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(0, 218, 0);
    height: 21px;
    width: 21px;
}

.buyer_last_name_input_container.complete:after {
    opacity: 1;
}

.error_message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}