.nav-button {
    border-radius: 21px;
}

.nav-button-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #105b63;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    &:hover {
        color: #74c2c2;
    }
}

.menu_itemActive {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #74c2c2;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 559px;
}

// .border_between_links {
//     height: 35px;
//     border: 1px solid;
//     color: #045540;
// }

.shop_cart_icon:hover .shoppig_cart_icon {
    color: rgb(26, 94, 96);
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
        background: none;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:target {
    background: none;
}