.nav-button {
    color: #105b63;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 21px;
    &:hover {
        color: #fedd2e;
    }
}

.menu_container {
    display: flex;
    justify-content: space-between;
    width: 559px;
}

.border_between_links {
    height: 35px;
    border: 1px solid;
    color: #045540;
}