.nav-button {
    border-radius: 21px;
}

.nav-button-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(69, 73, 77, .6);
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
}

.nav-button-link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    width: 0;
    transform: translateX(-50%);
    height: 2px;
    background-color: #105b63;
    transition: width ease .3s;
}
.nav-button-link:hover::before {
    width: 105%;
}

.menu_itemActive {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(69, 73, 77, .6);
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    &::after {
        content: '';
        display: block;
        width: 106%;
        border-bottom: 2px solid #105b63;
        position: absolute;
        left: -3%;
        bottom: -7px;
    }
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 559px;
}

.shoppig_cart_icon_color {
    color: rgba(69, 73, 77, .6);
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
        background: none;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root:target {
    background: none;
}