.cart_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
}

.make_purchases {
    background-color: #74c2c2;
    border-radius: 14px;
    height: 35px;
    line-height: 35px;
    box-shadow: none;
    transition: none;
    font-family: 'Bellota Text', cursive;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    &:hover {
        background-color: #105b63;
    }
}