.product-quantity {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    height: 28px;
}

.text-field {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 92px;
    text-align: center;
    margin: 0;
    line-height: 28px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.5);
}

.on-decrement_btn,
.on-increment_btn {
    color: #105b63;
    font-size: 16px;
    border: 1px solid #74c2c2;
    border-radius: 4px;
    padding: 0;
    width: 64px;
    background: none;
    cursor: pointer;
    &:hover {
        background-color: rgba(16, 91, 99, 0.04);
        color: #74c2c2;
    }
    &:disabled {
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 53rem) {
    .on-decrement_btn,
    .on-increment_btn {
        width: 35px;
    }

    .text-field {
        width: 28px;
    }

    .product-quantity {
        justify-content: center;
    }
}