.footer_container {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,98,121,0.76234243697479) 47%, rgba(0,212,255,1) 100%);
    border-top: 1px solid #045540;
    padding: 14px 0 21px 0;
    margin-top: 0px;
}

.footer-logo_container {
    margin-bottom: 21px;
}

.about-us_container {
    display: flex;
    justify-content: space-around;
}

.about_us,
.contacts {
    width: 25vw;
}

.contacts-title {
    margin-bottom: 11px;
}

.about_us-title,
.contacts-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #5271ff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
}

.about_us-content {
    text-align: center;
}

.about_us-content,
.contacts-content {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #fedd2e;
}

.phone_logo,
.gmail_logo,
.instagram_logo {
    width: 29px;
    height: 29px;
}

.phone_logo {
    background: url('/assets/phone.png') center/cover no-repeat;
}

.gmail_logo {
    background: url('/assets/gmail.png') center/cover no-repeat;
}

.instagram_logo {
    background: url('/assets/instagram.png') center/cover no-repeat;
}

.phone_container,
.gmail_container,
.instagram_container {
    display: flex;
    align-items: center;
}

.footer_contacts {
    margin: 7px 28px 7px 28px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rights {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #74c2c2;
    margin: 0;
}

.about_us-content {
    margin: 0px 0px 14px 0px;
}