.footer_container {
    // background: linear-gradient(292deg, rgba(240,240,240,1) 9%, rgba(26,92,94,1) 82%);
    border-top: 1px solid #105b63;
    padding: 28px 7px 21px 7px;
    margin-top: 0px;
    cursor: context-menu;
    height: 100vh;
}

.footer-logo_container {
    margin-bottom: 49px;
}

.about-us_container {
    display: flex;
    justify-content: space-around;
}

.about_us,
.contacts {
    width: 42vw;
}

.contacts-title {
    margin-bottom: 11px;
}

.about_us-title,
.contacts-title {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(69, 73, 77, .6);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
}

.about_us-content {
    text-align: center;
}

.about_us-content,
.contacts-content {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #105b63;
}

.phone_logo,
.gmail_logo,
.instagram_logo {
    width: 29px;
    height: 29px;
}

.phone_logo {
    background: url('/assets/phone.png') center/cover no-repeat;
}

.gmail_logo {
    background: url('/assets/gmail.png') center/cover no-repeat;
}

.instagram_logo {
    background: url('/assets/instagram.png') center/cover no-repeat;
}

.phone_container,
.gmail_container,
.instagram_container {
    display: flex;
    align-items: center;
}

.footer_contacts {
    margin: 7px 28px 7px 28px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rights {
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #105b63;
    margin: 0;
    margin-top: 29vh;
    padding-bottom: 21px;
}

.about_us-content {
    margin: 0px 0px 14px 0px;
}

@media (max-width: 53rem)  {
    .footer_container {
        height: 100%;
    }

    .about-us_container {
        flex-direction: column;
        align-items: center;
    }

    .about_us-content {
        width: 100%;
        padding: 0 7px;
    }

    div .about_us,
    div .contacts {
        width: 100vw;
    }
}