@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600&display=swap');

.input_label {
    color: #105b63;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    line-height: 16px;
    overflow: visible;
}