.review_title {
    font-family: 'Exo 2', sans-serif;
    color: black;
}

.reviews {
    display: flex;
    justify-content: space-between;
    cursor: context-menu;
}

.comment-card {
    padding-top: 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #74c2c2;
    border: none;
    & strong {
        color: #105b63;
    }
}

.comment-card-container {
    width: 721px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.css-46bh2p-MuiCardContent-root:last-child {
    padding: 7px 14px;
}

.form_text_field {
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #74c2c2;
    padding: 7px 0 0 7px;
    border-radius: 4px;
    &::placeholder {
        font-family: 'Exo 2', sans-serif;
        color: rgba(16, 91, 99, 0.5);
        font-size: 16px;
    }
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {  
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height:0px;
    overflow: visible;
    color: rgba(16, 91, 99, 0.5);
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:ms-value {
    padding: 0;
    height: 100%;
}

.form_name_field {
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}

.form_btn {
    width: 150px;
    height: 35px;
    border-radius: 14px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-color: #105b63;
    margin-bottom: 14px;
    &:hover {
        color: white;
        background-color: #74c2c2; 
    }
}

form h3 {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 21px;
    color: #105b63;
    margin-top: 0px;
}

.review_card {
    width: 22rem;
    height: 100%;
    background: rgba(16, 91, 99, 0.4);
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 12px 12px 12px;
    & .review_card_container {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        border-radius: 30px;
        }
    & .review_card_contain {
        width: 4.3rem;
        height: 4.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(16, 91, 99, 0.4);
        position: relative;
        top: -11px;
        left: -12px;
        border-radius: 24px;
    }
    & img {
        width: 60px;
        height: 60px;
        border-radius: 24px;
    }
    & p {
        font-weight: 600;
        font-size: 1rem;
        color: #105b63;
        font-family: 'Exo 2', sans-serif;
    }
    & .text_area {
        width: 103%;
        min-height: 3rem;
        background: white;
        border-radius: 18px;
        padding: 12px;
        color: #105b63;
        font-size: 21px;
        font-family: 'Exo 2', sans-serif;
    }
}

.css-46bh2p-MuiCardContent-root {
    padding: 0px 0px 0px 0px;
    &:last-child {
        padding: 0px 0px 0px 0px; 
    }
}

.css-1ipvlaw-MuiPaper-root-MuiCard-root {
    padding: 21px 0 0;
}