.cart_page_item-container {
    border-radius: 14px;
    width: 100%;
    border: 1px solid #105b63;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 14px;
    box-shadow: none;
    box-sizing: border-box;
}

.cart_page_item-container_part_1,
.cart_page_item-container_part_2 {
    display: flex;
    justify-content: space-between;
}

.cart_page_item-image_container {
    max-height: 200px;
    max-width: 225px;
}
.cart_page_item-image {
    height: 200px;
    width: 225px;
}

.cart_page_item-description {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin-bottom: 8px;
}

.cart_page_item-delete_btn {
    width: 140px;
    color: #045540;
    margin-left: 14px;
    border-radius: 14px;
}

.cart_title-container_2,
.cart_title-container {
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #74c2c2;
    & .cart_type {
        font-weight: 500;
        margin: 0;
        line-height: 18px;
    }
    & p {
        margin: 0px 0px 3px 0px;
    }
}

.cart_title-container_2 {
    display: none;
}

.cart_before_a_colon {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #105b63;
}

.product_count_in_cart,
.product_price_in_cart {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #105b63;
    margin: 7px 0px;
    & .this_count {
        color: #74c2c2;
        text-decoration: underline;
    }
}

.properties-container {
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page_item-card_content {
    padding: 0;
    margin: 10px 14px 10px 35px;
    &:last-child {
        padding-bottom: 0;
    }
}

.cpi_product-quantity {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    height: 28px;
}

.cpi_text-field {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 92px;
    text-align: center;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.5);
}

.cpi_on-decrement_btn,
.cpi_on-increment_btn {
    color: #105b63;
    font-size: 16px;
    border: 1px solid #74c2c2;
    border-radius: 4px;
    padding: 0;
    width: 64px;
    background: none;
    cursor: pointer;
    &:hover {
        background-color: rgba(16, 91, 99, 0.04);
        color: #74c2c2;
    }
    &:disabled:hover {
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.2);
    }
    &:disabled {
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 53rem) {
    .cart_page_item-image_container {
        max-height: 125px;
        max-width: 112px;
    }

    .cart_title-container,
    .need_to_hide,
    .product_count_in_cart {
        display: none;
    }

    .properties-container {
        padding-bottom: 4px;
    }

    .product_price_in_cart {
        margin: 0px 0px 0px 0px;
    }

    .cart_title-container_2 {
        display: block;
        margin-top: 4px;
    }

    .properties-container {
        width: 140px;
        margin-right: 10px;
    }

    .page_item-card_content {
        margin: auto;
    }

    .cart_page_item-image {
        height: 100%;
        width: auto;
        aspect-ratio: 40/45;
    }

    .cart_page_item-delete_btn {
        width: 14px;
        color: #045540;
        margin-left: 0px;
        border-radius: 14px;
    }

    .css-4yhr24-MuiButtonBase-root-MuiButton-root {
        min-width: 49px;
    }

    .cpi_product-quantity {
        height: 21px;
    }

    .cpi_on-decrement_btn,
    .cpi_on-increment_btn {
        height: 21px;
        min-width: 35px;
        &:active {
            box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),
            0px 8px 10px 1px rgba(0,0,0,0.14),
            0px 3px 14px 2px rgba(0,0,0,0.12);
        }
        &:hover {
            background-color: white;
            color: inherit;
            transition: all .1s ease-in-out 0s;
        }
    }

    .cpi_text-field {
        height: 21px;
        min-width: 28px;
        color: #74c2c2;
    }
}