.main_part-container {
    width: 73%;
}

.category_btn_link {
    text-decoration: none;
}

.css-1lva5ad-MuiContainer-root {
    margin-top: 0px;
}

@media (max-width: 53rem) {
    .category_btn {
        width: 90vw;
    }

    .border_before_categories {
        width: 90vw;
    }

    .main_part-container {
        width: 100%;
    }
}