@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600&display=swap');

.main_part-container {
    width: 73%;
    & p {
        font-family: 'Sofia Sans Semi Condensed', sans-serif;
        font-size: 35px;
        line-height: 35px;
        font-weight: 600;
        color: #105b63;
        cursor: context-menu;
        margin: 0px 0px 0px 0px;
    }
}

.main_part_flex_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
}

.border_before_categories {
    width: 100%;
    border: 3px solid #105b63;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 14px;
}

.category_btn_link {
    text-decoration: none;
}

.css-1lva5ad-MuiContainer-root {
    margin-top: 0px;
}

@media (max-width: 53rem) {
    .category_btn {
        width: 47%;
    }

    .main_part-container {
        width: 100%;
    }
}

// @media (min-width: 595px) and (max-width: 769px) {
//     .category_btn {
//         width: 50vw;
//     }
// }