@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600&display=swap');

.every_page_title {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    color: #105b63;
    cursor: context-menu;
}

.every_page_title_border {
    width: 100%;
    border: 3px solid #105b63;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 14px;
}